<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.miha.sudocu">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <activity android:name=".View.Activity.MainActivity"/>
        <activity android:name=".View.Activity.OnlineRating"/>
        <activity android:name=".View.Activity.MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.Activity.ListOfGameSavesActivity"/>
        <service android:name=".presenter.Service.MyMediaPlayerService"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d5bb48c3b3bcd77d59d9bc3efc5462682df98f18" />
    </application>

</manifest>